body {
  background-image: url("/images/2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.forms {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  margin: 24px;
  text-align: center;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 18px;
  text-align: center;
}

.active-card-button {
  margin: 4px;
  background-color: pink;
  border-color: rgb(236, 150, 164);
}
.active-card-button:hover{
  background-color: rgb(246, 205, 212);
  border-color: rgb(236, 150, 164);
}

.form-btn {
  background-color: pink;
  border-color: rgb(236, 150, 164);
}

.form-btn:hover {
  background-color: rgb(246, 205, 212);
  border-color: rgb(236, 150, 164);
}
.custom-modal {
  backdrop-filter: blur(5px);
}
